<h1>Listing product1s</h1>

<table id="product1s-table">
  <tr>
    <th>Name</th>
    <th>Categoryies</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Product1</a>