<h1>Listing product2s</h1>

<table id="product2s-table">
  <tr>
    <th>Name</th>
    <th>Categoryies</th>
    <th>Price</th>
    <th>Quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Product2</a>