<h1>New product2</h1>

<form id="new-product2" name="product2">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="categoryies"> categoryies:</label>
    <input type="text" name="categoryies" id="categoryies" value="<%= categoryies %>" >
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" >
  </div>

  <div class="field">
    <label for="quantity"> quantity:</label>
    <input type="text" name="quantity" id="quantity" value="<%= quantity %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Product2" />
  </div>

</form>

<a href="#/index">Back</a>